version: "3.8"

services:
  proxy:
    build: .
    ports:
      - "${HTTP_REDIRECT_PORT:-3002}:3002"
      - "${HTTPS_PORT:-8443}:8443"
    env_file:
          - .env
    depends_on:
      - openbao
      - backend1
      - backend2
      - backend3
      - mailhog
    volumes:
      - ./ssl:/app/ssl
    restart: always

  backend1:
    image: node:18-alpine
    command: >
      sh -c "node -e \"require('http').createServer((req,res)=>
        req.url==='/health'?res.end('OK'):res.end('Hello from backend1')).listen(3001)\""
    expose:
      - "3001"
    ports:
      - "13001:3001"

  backend2:
    image: node:18-alpine
    command: >
      sh -c "node -e \"require('http').createServer((req,res)=>
        req.url==='/health'?res.end('OK'):res.end('Hello from backend2')).listen(3002)\""
    expose:
      - "3002"
    ports:
      - "13002:3002"

  backend3:
    image: node:18-alpine
    command: >
      sh -c "node -e \"require('http').createServer((req,res)=>
        req.url==='/health'?res.end('OK'):res.end('Hello from backend3')).listen(3003)\""
    expose:
      - "3003"
    ports:
      - "13003:3003"

  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025"  # SMTP
      - "8025:8025"  # Web UI

  openbao:
    image: openbao/openbao:latest
    container_name: openbao-dev
    ports:
      - "${OPENBAO_PORT:-8200}:8200"
    environment:
      OPENBAO_DEV_ROOT_TOKEN_ID: ${OPENBAO_DEV_ROOT_TOKEN_ID:-proxy-root}
      OPENBAO_ADDR: http://0.0.0.0:8200
    command:
      [
        "server",
        "-dev",
        "-dev-root-token-id=${OPENBAO_DEV_ROOT_TOKEN_ID:-proxy-root}",
        "-dev-listen-address=0.0.0.0:8200"
      ]
    restart: unless-stopped
